:root {
	--color-nav-background: #444;
	--color-nav-group-background: #333;
	--color-nav-text: #fff;
	--color-item-border: #ccc;
	--color-control-text: #0074D9;

	--nav-width: 14rem;
}

@custom-media --large-viewport (min-width: 60em);
