body {
  font-family: var(--font-family);
  line-height: var(--line-height);
}

--heading {
  font-weight: var(--heading-weight);
}

h1,
h2,
h3 {
  line-height: var(--heading-line-height);
  text-rendering: optimizelegibility;
}

h1 {
  font-size: calc(1em * var(--ratio) * var(--ratio) * var(--ratio));
}

h2 {
  font-size: calc(1em * var(--ratio) * var(--ratio));
}

h3 {
  font-size: calc(1em * var(--ratio));
}
