@import "suitcss-components-button";

:root {
  --Button-border-width: 1px;
  --Button-border-color: transparent;
  --Button-color: inherit;
  --Button-font: inherit;
  --Button-padding: 0.5em 1em;
  --Button-disabled-opacity: 0.5;
}
