<div class="f-Item-preview f-u-cf">
	{{{material @key @root}}}
</div>
<ul class="f-Item-controls">
	<li>
		<button class="f-Item-control" data-f-toggle-control="code">
			<svg>
				<use xlink:href="#f-icon-code" />
			</svg>
			Source
		</button>
	</li>
	<li>
		<a href="#" class="f-Item-control">
			<svg>
				<use xlink:href="#f-icon-external" />
			</svg>
			External link title
		</a>
	</li>
</ul>
<div class="f-Item-code" data-f-toggle="code">
	<pre><code class="language-markup">{{material @key @root}}</code></pre>
</div>
