:root {
	--color-dark: hsl(0, 0%, 12%);
	--color-medium: hsl(0, 0%, 46%);
	--color-light: hsl(0, 0%, 80%);
	--color-accent: hsl(0, 0%, 46%);

	--color-menu-background: hsl(0, 0%, 100%);
	--color-menu-text: hsl(0, 0%, 46%);
	--color-normal: hsl(0, 0%, 46%);

	--menu-width: 14rem;
}
